<!DOCTYPE html>
<html lang="en">
<head>
    <!--一定要注意：meta要有结束标签，thymeleaf模板比较严格-->
    <meta charset="UTF-8"></meta>
    <title>异常</title>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="alert alert-success alert-dismissable">
                    <h4>
                        注意!
                    </h4>
                    <strong>Error!</strong> 服务器异常，请联系管理员 <a href="#" class="alert-link">alert link</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>